<div class="row no-gutters work-area">
	<div class="col-lg-5 d-none d-lg-flex border-right py-5 all-center">
		<img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accounts-vector.svg" class="w-100">
	</div>
	<div class="col-lg-7 py-5 px-sm-5 px-4">
		<div class="tab-nav-underline w-100 justify-content-start">
			<div class="tab active px-0 font-md extra-bold">Forgot Username</div>
		</div>

		<div class="my-4 pt-4">
			<div class="font-mds dark-grey">
				Your Userame has been sent to your registered email.
			</div>
		</div>
	</div>
</div>